body {
  background-color: grey;
  float: right;
}

  .content {
    font-weight: normal;
  font-family: sans-serif;
  margin: 10%;
  margin-top: 10px;
  border-style: solid;
  border-color: saddlebrown;
  background-color: black;
  border-radius: 5%;
  border-width: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  border-width: 30px;
color: aliceblue
  }
.zanr {
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  font-size: 220%;
    border-style: solid;
  border-color: red;
  background-color: darkred;
color: whitesmoke;

}
    
a  {
    color: aliceblue;
    text-decoration: underline;
      }      
      
h1 {
  font-style: normal;
  line-height: 90%;
  text-decoration: none;
  font-size: 160%;
text-align: center;
}

.svec {
  font-size: 100%;
  text-align: justify;
}

.zadas {
  font-size: 100%;
  text-align: justify;
}

.autor {
  text-align: justify;
}

.zdroj {
  text-align: justify;
}

#pytel {
  text-align: justify;
  font-size: 100%;
}

#soutez {
  text-align: justify;
  font-size: 100%;  
}

#zaver {
  text-align: justify;
  font-size: 100%;
}